{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container pt-3 my-md-5 pt-md-5">
            <h1 class="display-4 anchor" id="description">Описание проекта</h1>
            <p class="lead" style="width: 50%"> С помощью Gestures вы обретаете силу и уверенность, чтобы научиться свободно общаться и понимать окружающий мир. Приложение предлагает вам погружение в волшебную симфонию жестов, где каждое движение превращается в историю, каждый жест становится ярким красками в живописи ваших собственных эмоций.
            </p>
            <p class="lead" style="width: 50%"> Одно касание по экрану, и перед вами раскрывается бесконечный мир уроков, тренировок и интерактивных заданий. Gestures поможет вам на каждом шагу, погружая вас в интенсивное обучение языку жестов с помощью видеоуроков, увлекательных игр и практических заданий, чтобы вы могли в полной мере освоить его тонкости и проникнуться его красотой.
            </p>
            <p class="lead" style="width: 50%"> Это приложение - верный спутник и надежный друг для вас и ваших близких. Gestures поможет вам расширить ваш круг общения, преодолеть языковые барьеры и открыть двери к новым возможностям. Оно заполняет каждый ваш день новыми впечатлениями и путешествиями, обогащая вашу жизнь и окружающий мир с помощью прекрасного языка жестов.
            </p>
            <p class="lead" style="width: 50%"> Gestures - это не просто приложение. Это волшебный фонарь, который освещает путь к самовыражению, взаимопониманию и радости. Погрузитесь в этот мир сегодня и откройте для себя удивительное путешествие, где каждый жест становится магическим мостом к новым возможностям и источником вдохновения.
            </p>
        </div>
    </div>
     <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h3 class="display-4 anchor"  id="contacts">Contacts</h3>
            </div>
            <div class="col-6 col-md">
                <h5>Emails</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:danilinvs58@gmail.com">Gmail</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:danilinvs5@yandex.ru">Yandex mail</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Social networks</h5>
                <ul class="list-unstyled">
                    <li class="mb-1"><a  href="https://t.me/toa_onua" target= "_blank"><img src="static/Telegram_logo.svg.png" alt="inst" width="25" height="25"></a> @toa_onua</li>
                    <li class="mb-1"><a  href="https://t.me/alekseeva_vlada" target= "_blank"><img src="static/Telegram_logo.svg.png" alt="inst" width="25" height="25"></a> @alekseeva_vlada</li>
                    <li class="mb-1"><a  href="https://t.me/letmeskipyou" target= "_blank"><img src="static/Telegram_logo.svg.png" alt="inst" width="25" height="25"></a> @letmeskipyou</li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Project Team</h5>
                <ul class="list-unstyled">
                    <li class="mb-1"><p>Viktor Danilin</p></li>
                    <li class="mb-1"><p>Alex Tenishev</p></li>
                    <li class="mb-1"><p>Vlada Alekseeva</p></li>
                    <li class="mb-1"><p>ChatGPT</p></li>
                </ul>
            </div>
        </div>
    </footer>

{% endblock %}